
@{
    ViewData["Title"] = "Iletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>İletisim</h1>

<div class="row">
    <img class="col-sm-4 " src="~/img/iletisim2.jpg">
    <img class="col-sm-4 " src="~/img/iletisim1.jpg">
    <img class="col-sm-4 " src="~/img/iletisim2.jpg">
</div>