@{
    ViewData["Title"] = "HAKKIMIZDA";
}
<h1>@ViewData["Title"]</h1>

<p>TUNÇ ELEKTRONİK HAKKINDA TÜM HER ŞEY....</p>

<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="~/img/about2.jpg" alt="">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper"></span>
                            <span class="section-heading"></span>
                        </h2>
                        <p>Elektronik Satış mağazamız 1998 yılında Tunç ailesi tarafından kuruldu. Günümüze kadar Bilgisayar, Televizyon, Cep Telefonu satışlarımız devam etmektedir. Mağaza Lokasyonumuz ve iletişim bilgileri İletişim sekmesinde mevcuttur.</p>
                        <p class="mb-0">Hasarlı bulduğunuz ve sorunu olduğunu düşündüğünüz her ürün bize aittir değişimleri koşulsuz olarak yapılır....</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


